@import '../../scss/variable';
@import '../../scss/mixin';

.products {
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px 16px;
  margin-top: 24px;

  @include extra-large {
    justify-content: space-around;
  }

  @include media {
    justify-content: flex-start;

    & > * {
      flex: 0 0 229px;
    }
  }

  @include small {
    justify-content: center;

    & > * {
      flex: 0 0 288px;
    }
  }

  @include custom(630) {
    justify-content: space-between;

    & > * {
      flex: 0 0 calc(50% - 8px);
    }
  }

  @include media(mobile, large-mobile) {
    justify-content: center;

    & > * {
      flex: 0 0 100%;
    }

    img {
      width: 100%;
      margin: 0 auto;
    }
  }
}
